*{
	padding: 0;
	margin: 0;
}
body{
	background: #efefef;
}
.container{
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}


main .container{
	border-radius: 10px;
	margin-top: 10px;
	padding: 30px;
}
header{
	width: 100%;
	background: #fff;
}

header .container{
	width: 1180px;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.logo img{
	width: 70px;
}

.goods-img img{
	width: 100px;
}

#basket, .search-button{
	height: 30px;
	border-radius: 5px;
	width: 100px;
}
input[type="text"]{
	width: 200px;
	height: 27px;
	border-radius: 5px;
}
#clearbasket{
	height: 30px;
	border-radius: 5px;
	width: 200px;
	margin: 0 auto;
	display: block;
}

.goods-list{
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
}
.goods-item{
	padding: 15px;
	width: 200px;
	text-align: center;
	border: solid #efefef 2px;
	margin: 25px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 8px 22px -6px rgba(0,0,0,0.19);
	-moz-box-shadow: 3px 8px 22px -6px rgba(0,0,0,0.19);
	box-shadow: 3px 8px 22px -6px rgba(0,0,0,0.19);
}

.basket{
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
	background: #fefefe;
	width: 800px;
	height: 500px;
	position: absolute;
	right: 500px;
	display: none;
	padding: 20px;
}
.basket-content{
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
	background: #fefefe;
}
.show{
	display: block;
}
